#calendar {
    background: white;
    color: black;
    font-size: 24px;
    padding: 20px;
    margin: 20px;
    height: 600px;
}

#admin {
    background: white;
    color: black;
    padding: 50px;
    margin: 20px;
}
